.footer {
    background-color: #f9f8f9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;
}

.footer > div {
    width: 100%;
    max-width: 1100px;
}

.footer > div > section {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer > div > section:nth-child(1) {
    display: flex;
    gap: 20px;
    padding: 80px 50px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.footer > div > section:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.footer > div > section:nth-child(1) > div h4 {
    letter-spacing: 1px;
    font-weight: 600;
}

.footer > div > section:nth-child(1) > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer > div > section:nth-child(1) .firstSub {
    flex-direction: row;
}

.footer > div > section:nth-child(1) .firstSub a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-decoration: none;
}

.footer > div > section:nth-child(1) .firstSub a i {
    color: rgb(84, 84, 84);
    font-size: 13px;
}

.footer > div > section:nth-child(1) > div > div > div {
    display: flex;
    gap: 10px;
}

.footer > div > section:nth-child(1) > div > div h4 {
    font-weight: 600;
}

.footer > div > section:nth-child(2) > div a {
    text-decoration: none;
    color: black;
}

.footer > div > section:nth-child(1) > div:nth-of-type(3) a {
    text-decoration: none;
    margin-left: 10px;
    color: #5e30b8;
}

.footer.darkmode {
    background-color: #2b213b;
    color: white;
}

.footer.darkmode .legalLinks {
    color: white;
}

.footer.darkmode > div > section:nth-child(1) {
    border-bottom: 1px solid #444;
}

.footer.darkmode > div > section:nth-child(1) > div h4,
.footer.darkmode > div > section:nth-child(1) > div > div h4 {
    color: #ccc;
}

.footer.darkmode > div > section:nth-child(1) .firstSub a {
    border: 1px solid #ccc;
}

.footer.darkmode > div > section:nth-child(1) .firstSub a i {
    color: #ccc;
}

.footer.neutral {
    background-color: #e6e0f3;
    color: #4c4c4c;
}

.footer.neutral > div > section:nth-child(1) {
    border-bottom: 1px solid #b3b38f;
}

.footer.neutral > div > section:nth-child(1) > div h4,
.footer.neutral > div > section:nth-child(1) > div > div h4 {
    color: #5a5a5a;
}

.footer.neutral > div > section:nth-child(1) .firstSub a {
    border: 1px solid #5a5a5a;
}

.footer.neutral > div > section:nth-child(1) .firstSub a i {
    color: #5a5a5a;
}


@media (max-width: 834px) {
    .footer > div > section:nth-of-type(1) {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 35px;
    }

    .footer > div > section:nth-of-type(2) {
        flex-direction: column;
        gap: 5px;
    }

    .footer > div > section:nth-of-type(2) div {
        text-align: center;
        font-size: 13px;
    }
}
