.newTechnologyForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    color: #e0e0e0;
}

.newTechnologyForm h1 {
    font-size: 20px;
    font-weight: 500;
    color: #e0e0e0;
}

.newTechnologyForm input,
.newTechnologyForm button {
    max-width: 400px;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
}

.newTechnologyForm button {
    border: 1px solid #444;
    background-color: #333;
    color: #e0e0e0;  
    cursor: pointer;
    transition: 0.3s ease all;
}

.newTechnologyForm button:hover {
    background-color: #6e2cab;
    color: white; 
}

.newTechnologyForm .section {
    display: flex;
    max-width: 400px;
    border: 1px solid #444;
    background-color: #333;
}

.newTechnologyForm .section button {
    border: none;
    border-left: 1px solid #444;
    background-color: #444;
    color: #e0e0e0;
}

.newTechnologyForm .section input {
    flex: 1;
    background-color: #444;
    color: #e0e0e0;  
    border: 1px solid #444;
    border-radius: 5px;  
}

.newTechnologyForm .subSections {
    max-width: 400px;
    display: flex;
}

.newTechnologyForm .subSections > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.newTechnologyForm .subSections > div input {
    flex: 1;
    background-color: #444; 
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px; 
}
