.main {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding-left: 200px;
}

.sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 2px 2px rgba(127, 127, 127, 0.226);
    transition: all ease 0.2s;
    z-index: 1;
    background-color: white;
}

.openBtn {
    position: fixed;
    left: 0;
    top: 0;
    padding: 3px 5px;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(115, 115, 115);
    cursor: pointer;
    display: none;
}

.logo {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px;
}

.elements {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 40px;
    text-align: start;
    cursor: pointer;
    transition: all ease 0.2s;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid rgba(157, 157, 157, 0.424);
}

.elements:nth-of-type(1) {
    border-top: 1px solid rgba(157, 157, 157, 0.424);
}

.elements.selected {
    font-size: 16px;
    font-weight: 600;
}

.logout {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #2f0563;
    color: white;
    border: none;
    padding: 17px 10px;
    width: 100%;
    cursor: pointer;
}

.mainContent {
    flex: 1;
    display: block;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 617px) {
    .main {
        padding-left: 0px;
        padding-top: 20px;
    }

    .sideBar {
        left: -200px;
    }

    .openBtn {
        display: block;
    }

    .sideBar.opened {
        left: 0;
    }

    .sideBar.opened .openBtn {
        display: none;
    }
}
